<!DOCTYPE html>

<!--

Run a find replace on:
- DevpostURL -> Your Devpost URL: http://pennappsxii.devpost.com
- HackathonName -> Your Hackathon Name -> PennApps XII

You can also use your own favico or Hackathon logo/header.

-->

<html>
<head>
  <meta charset='utf-8'>
  <title>FormulaHacks</title>

  <!-- Meta tags to eliminate caching. I don't totally get how these work, so you might not need all of them. cribbed from: http://stackoverflow.com/questions/1341089/using-meta-tags-to-turn-off-caching-in-all-browsers-->
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />

  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700,900,400italic' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type='text/css' href='css/style.css'>
  <link rel="icon" href="https://hacktx.com/favicon-32x32.png">
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
  <script type='text/javascript' src='js/papaparse.min.js'></script>
  <script type='text/javascript' src='js/mustache.min.js'></script>
  <script type='text/javascript' src="js/list.js"></script>
</head>

<body>
  <div class="container">
    <div id="header">
      <h1>
        <!-- <a href="https://hacktx16.devpost.com" title="Music Hacks Submissions"> -->
          <a href="https://formula-hacks.devpost.com/">FormulaHacks Submissions</a>
        </a>
      <h1>
    </div>
    <div id="fullTable"></div>
  </div>

  <script id="template" type="x-tmpl-mustache">
    <div class="search_container">
      <input class="search" type="search" placeholder="Filter by project name and team members" id="filter"/>
    </div>
    <table id="expoTable">
      <thead>
        <tr>
          <th class="number">Table</th>
          <th class="name">Project</th>
		  <!-- <th class="teamMembers">Team Members</th> -->
		  <!--<th class="teamMembers">Team Members</th> -->
          <th class="prize">Awards</th>
          <!-- <th class="cat">Category</th> <!--You can comment out this column if you don't need it-->
        </tr>
      </thead>
      <tbody class="list">
        {{#data}}
          <tr>
            <td class="number">{{table}}</td>
			{{#github}}
            <td class="name"><a href="{{github}}" target="_blank">{{project}}</a></td>
			{{/github}}
			{{^github}}
			<td class="name">{{project}}</td>
			{{/github}}
			<!-- <td class="teamMembers">{{teamMembers}}</td> -->
			<!-- <td class="teamMembers">{{}}</td> -->
            <td class="prize">{{sponsors}}</td>
            <!-- <td class="cat">{{category}}</td> <!--You can comment out this column if you don't need it-->
          </tr>
        {{/data}}
      </tbody>
    </table>
  </script>
  <br>
  <div id="footer">

  </div>

  <script type="text/javascript">

    var tableData;
    function getParam(variable){
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
        if(pair[0] == variable){return pair[1];}
      }
      return(false);
    }

    document.addEventListener('DOMContentLoaded', function() {

      // CSV format: https://gist.githubusercontent.com/nealrs/510b6ab766d97b42f572/raw/92188f386410fe9ebdfdea381562a4ddff4a02b7/test.csv

      Papa.parse("data/data.csv", {
        download: true,
        header: true,
        complete: function(results) {
          tableData = results;

          // print raw data
          //console.log(tableData);
          // add commas to sponsor prize data
          for (var x in tableData.data) {
            var s = tableData.data[x]['sponsors'];
            //tableData.data[x]['sponsors'] = s.replace(/,/ig, ", ");
          }
          // print cleaned data
          console.log(tableData);

          // process and render template
          var template = $('#template').html();
          Mustache.parse(template);   // optional, speeds up future uses
          var rendered = Mustache.render(template, tableData);
          //console.log(rendered);
          $('#fullTable').html(rendered);

          // list.js search init
          var listOptions = {
            valueNames: [ 'number', 'name', 'prize', 'cat', 'teamMembers'],
            page: 1000000
          };
          var userList = new List('fullTable', listOptions);

          // grab filter url param and activate filter
          var filter = decodeURI(getParam("filter"));
          if (filter != "false"){
            $("#filter").val(filter);
            userList.search(filter);
          };
  	    }
      });

    });
  </script>
</body>
</html>
